<section>
  <h1>About Me</h1>
  {<br/>
"name": "<a href="http://twitter.com/amejiarosario" target="_blank">Adrian Mejia</a>",<br/>
"location": "<a href="https://maps.google.com/?q=boston+ma" target="_blank">Boston, MA</a>",<br/>
"title": "<a href="http://www.linkedin.com/in/adrianmejia" target="_blank">Software Engineer</a>",<br/>
"technologies": [
"<a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>",
"<a href="http://www.ruby-lang.org/" target="_blank">Ruby</a>",
"<a href="/blog/categories/javascript/" target="_blank">JavaScript</a>",
"<a href="/blog/categories/java/" target="_blank">Java</a>",
"<a href="http://jquery.com/" target="_blank">jQuery</a>",
"<a href="/blog/categories/html/" target="_blank">HTML5</a>",
"<a href="http://www.linkedin.com/in/adrianmejia" target="_blank">etc.</a>"],<br/>
"interests": [
"<a href="/blog/categories/web-development/" target="_blank">Web development</a>",
"<a href="/blog/categories/software-architecture/" target="_blank">Software Architecture</a>",
"<a href="/blog/categories/nosql/" target="_blank">NoSQL Databases</a>",
"<a href="/blog/categories/algorithms/" target="_blank">Algorithms</a>"],<br/>
}<br/>
</section>
