// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header[role="banner"] {
     background: #263347 url(https://www.dropbox.com/s/s3x7zvg0zmk4800/trust_me_im_engineer_2.png?dl=1) right;
     background-repeat: no-repeat;
     height: 200px;
}